include _component.pug
include _data.pug

doctype html
html(lang="zh-Hant")
  block vars
    - var author = '永豐銀行'
    - var web_title = '永豐策略人才(MA/PA)招募計畫'
    - var web_url = 'https://bank.sinopac.com/sinopacBT/webevents/ma/index.html'
    - var og_url = 'https://bank.sinopac.com/sinopacBT/webevents/ma/index.html'
    - var og_title = '永豐策略人才(MA/PA)招募計畫'
    - var og_image = 'https://bank.sinopac.com/sinopacBT/webevents/ma/images/OK_FB.jpeg'
    - var og_desc = '還在等什麼!!此刻加入永豐策略人才計畫，開拓您的職場新視野!!八大領域四大專業多元選擇，無限寬廣的舞台由您來打造!!!'
    - var schema_classify = '永豐策略人才(MA/PA)招募計畫'
    - var date_publish = ''
    - var keywords = ''
    //- root位置勿更動也勿使用
    - var root = '../../'
    - var pageName = ''

  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover')
      meta(name='format-detection' content='telephone=no')
      meta(http-equiv='X-UA-Compatible' content='IE=edge,Chrome=1')
      //- 不緩存
      meta(http-equiv='pragma' content='no-cache')
      meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
      meta(http-equiv='expires' content='0')
      //- meta info
      title #{schema_classify ? schema_classify : "" }
      meta(name='title' content=(schema_classify ? schema_classify : '' ))
      meta(name='description', content=og_desc ? og_desc : '')
      meta(name='og:description', content=og_desc ? og_desc : '')
      meta(property='og:title', content=(og_title ? og_title : ''))
      meta(property='og:url', content=og_url ? og_url : '')
      meta(property='og:image', content=og_image ? og_image : '')
      meta(property='og:type' content='website')
      meta(property='og:locale' content='zh_TW')
      meta(name='keywords' content=keywords)
      meta(name='author', content=author)
      meta(name='copyright', content=author)
      //- 標準網址
      link(rel='canonical' href=web_url)
      //- favicon
      link(rel='shortcut icon' href='https://mma.sinopac.com/images/favicon.ico')
      //- css
      link(rel='stylesheet' href='css/splide.min.css')
      link(rel='stylesheet' href='css/aos.css')
      link(rel='stylesheet' href='css/loading.css')
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap' rel='stylesheet')
      link(rel='stylesheet' href='./css/all.css?v=240116')
      script(src="js/jquery-latest.min.securejs" type="text/javascript")
      script(src="js/splide.min.securejs" type="text/javascript")
      script(src="js/aos.securejs" type="text/javascript")

      //- 數位足跡
      script(type='text/javascript' src='../../bspjs/UrlSetting.js')
      script(type='text/javascript' src='../../bspjs/sensorstracker.js')
      //- script(src= root +'js/sensorstrackerV105.js' type="text/javascript")
      //- script(type="application/ld+json") {"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"申請個人信用貸款需要準備哪些文件?","acceptedAnswer":{"@type":"Answer","text":"1. 身分證正反面影本 \n2. 收入證明 \n若您是永豐的薪轉戶，可以免附收入證明，會更加快您的審核速度喔!"}},{"@type":"Question","name":"我有其他銀行的信用卡循環跟信用貸款，可以一起做整合嗎?","acceptedAnswer":{"@type":"Answer","text":"可以的! 歡迎您來電 02-2505-9999 或 0800-388-288(限市話)，或點擊<a href=\"https://mma.sinopac.com/Share/Activity/PettyProject.aspx?LinkSource=&aoid=&refid=\">專人與我聯絡</a>留下資料，我們將提供適合您的整合方案，幫您降低月付金，輕鬆減擔"}},{"@type":"Question","name":"「分期型信貸」跟「額度型信貸」有什麼不同?","acceptedAnswer":{"@type":"Answer","text":"● 分期型信貸：是將整筆借款一次撥入帳戶，之後每個月本息均攤還款。 \u000b\n● 額度型信貸(私房錢)：銀行核給一筆信貸額度。您可以在額度內循環動用，還款之後額度立即回復。還可以將該連結額度的帳戶設定為證券交割帳戶。也可以用來設定扣繳各項日常費用(水電、瓦斯、電話費等等..)。"}}]}

  body
    //- block loading
    include _loading.pug
    .wrap
      block header
        include layout/_header.pug
      .content
        block content

      block footer
        include layout/_footer.pug

    block lightbox

    block script
      script(src="js/toggle.securejs" type="text/javascript")
      script(src="js/lightbox.securejs" type="text/javascript")
      script.
        document.addEventListener("DOMContentLoaded", function() {
        let today = new Date();
        let dateString = today.toISOString().substring(0, 10).replace(/-/g, '');
        let script = document.createElement('script');
        script.src = './js/index.securejs?v=' + dateString;
        document.head.appendChild(script);
        });

      script.
        //- loading
        $(window).on("load", function () {
          $.Window = $(window);
          $.Body = $('body');

          $('body').css('visibility', 'visible');
          $(".loader").delay(500).fadeOut("slow");
          $("#overlayer").delay(500).fadeOut("slow");
        })

